html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0 24px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

.card{
  display: flex;
  padding: 12px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
  gap: 32px;
  width: 100%;
  justify-content: center;
}

.button {
  background-color: rgb(80, 80, 80);
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}
.button:hover{
  background-color: rgb(150, 150, 150);
}
.button2{
  background-color:green;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
}
.button2:hover{
  background-color: lightgreen;
}
